h2,h3{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.top{
    background-color: bisque ;
    margin: 15px;
    padding:20px;
    font-size: 20px;
    width: 300px;
    text-align: center;
    border-radius: 10px;

}

button{
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

img{
    border: solid blueviolet;
    border-radius: 10px;
}
.second{
background-color:bisque;
margin: 10px;
padding:20px;
font-size: 20px;
width: 300px;
text-align: center;
border-radius: 10px;
}
body{
   background-image:url("background image.png");
   background-repeat:repeat-y;
   background-size: 200%;
}

#container{
    display: flex ;
    margin:20px;
    justify-content: center;
    text-align: center;
}
#container1{
    display: flex ;
    margin:20px;
    justify-content: center;
    text-align: center;
}
#container2{
    display: flex ;
    margin:20px;
    justify-content: center;
    text-align: center;
}
p{
    font-weight: bold;
}

h2{
    font-size: 40px;
}